=#XXX Inline styles to be removed!!
%footer{:style => "position:fixed; bottom:0;width:100%;"}
  .row{:style => "text-align: right;"}
    .large-12.columns
      %p
        =link_to "Privacy", privacy_path 
        |
        =link_to "Terms and Conditions", terms_path
