-if traveller_signed_in?
  =link_to("Log Out", destroy_traveller_session_path, :method => :delete, :class => :button)
-elsif agent_signed_in?
  =link_to("Log Out", destroy_agent_session_path, :method => :delete, :class => :button)
-else
  =link_to("Get Started!", new_traveller_session_path, :class => :button)

