.spinner
{
  background-position: center center;
  background-image: url('/assets/icons/ajax-loader.gif');
  background-repeat: no-repeat;
}

th a
{
  color: #000;
}

a.asc, a.desc
{
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 10px;
}

.asc
{
  background-image: url('/assets/icons/up_arrow.gif');
}

.desc
{
  background-image: url('/assets/icons/down_arrow.gif');
}
