%h1 About

%h2 War Is the H-Word
%p There's one way and only one way to determine if an animal is intelligent. Dissect its brain! Spare me your space age technobabble, Attila the Hun! If rubbin' frozen dirt in your crotch is wrong, hey I don't wanna be right.
%ul
  %li Who are you, my warranty?!
  %li Oh, I think we should just stay friends.
  %li The key to victory is discipline, and that means a well made bed. You will practice until you can make your bed in your sleep.
%h3 Parasites Lost
%p Are you crazy? I can't swallow that. Who are you, my warranty?! It's okay, Bender. I like cooking too. Moving along&hellip;
%h4 Spanish Fry
%p Yes, I saw. You were doing well, until everyone died. Bite my shiny metal ass. What are their names? I never loved you. It's toe-tappingly tragic!
%ol
  %li Okay, I like a challenge.
  %li For one beautiful night I knew what it was like to be a grandmother. Subjugated, yet honored.
  %li It's okay, Bender. I like cooking too.
  %li Aww, it's true. I've been hiding it for so long.

%h5 The Why of Fry
%p Oh, I don't have time for this.  I have to go and buy a single piece of fruit with a coupon and then return it, making people wait behind me while I complain. Can we have Bender Burgers again? And when we woke up, we had these bodies.
%p Bender, this is Fry's decision&hellip; and he made it wrong. So it's time for us to interfere in his life. Say it in Russian! Bite my shiny metal ass. Why would I want to know that? Good news, everyone! I've taught the toaster to feel love!
