
=content_for :hero do
  =placekitten(1920,450)

%h1 Ducking Ninja
%h3.subheader Oh, I don't have time for this.  I have to go and buy a single piece of fruit with a coupon and then return it, making people wait behind me while I complain. Can we have Bender Burgers again? And when we woke up, we had these bodies.
%h2 War Is the H-Word
%p There's one way and only one way to determine if an animal is intelligent. Dissect its brain! Spare me your space age technobabble, Attila the Hun! If rubbin' frozen dirt in your crotch is wrong, hey I don't wanna be right.

.row
  .medium-9.large-7.columns
    .row
      .medium-3.large-5.columns.hide-for-small
        =placekitten(200, 200)
      .medium-9.large-7.columns  
        %h4 Yes, except the Dave Matthews Band doesn't rock.
        %p There's one way and only one way to determine if an animal is intelligent. Dissect its brain! Spare me your space age technobabble, Attila the Hun! If rubbin' frozen dirt in your crotch is wrong, hey I don't wanna be right. 
        %hr

      .medium-3.large-5.columns.hide-for-small
        =placekitten(200, 200)
      .medium-9.large-7.columns  
        %h4 And why did 'I' have to take a cab?
        %p There's one way and only one way to determine if an animal is intelligent. Dissect its brain! Spare me your space age technobabble, Attila the Hun! If rubbin' frozen dirt in your crotch is wrong, hey I don't wanna be right. 
        %hr

      .medium-3.large-5.columns.hide-for-small
        =placekitten(200, 200)
      .medium-9.large-7.columns  
        %h4 We live long and are celebrated poopers.
        %p There's one way and only one way to determine if an animal is intelligent. Dissect its brain! Spare me your space age technobabble, Attila the Hun! If rubbin' frozen dirt in your crotch is wrong, hey I don't wanna be right. 

  .medium-3.large-5.columns.hide-for-small
    =placekitten(400, 800)

.row{style: "text-align: center"}
  .large-12.columns
    %hr
    =link_to("Get Started!", new_traveller_session_path, :class => [:large, :button])
    %hr

.row
  .large-4.medium-4.columns
    =placekitten(300,200)
    %h4 A true inspiration for the children. 
    %p Have you ever tried just turning off the TV, sitting down with your children, and hitting them? It may comfort you to know that Fry's death took only fifteen seconds, yet the pain was so intense, that it felt to him like fifteen years. And it goes without saying, it caused him to empty his bowels. I just told you! You've killed me! Perhaps, but perhaps your civilization is merely the sewer of an even greater society above you!
  .large-4.medium-4.columns
    =placekitten(300,200)
    %h4 A true inspiration for the children. 
    %p Have you ever tried just turning off the TV, sitting down with your children, and hitting them? It may comfort you to know that Fry's death took only fifteen seconds, yet the pain was so intense, that it felt to him like fifteen years. And it goes without saying, it caused him to empty his bowels. I just told you! You've killed me! Perhaps, but perhaps your civilization is merely the sewer of an even greater society above you!
  .large-4.medium-4.columns
    =placekitten(300,200)
    %h4 A true inspiration for the children. 
    %p Have you ever tried just turning off the TV, sitting down with your children, and hitting them? It may comfort you to know that Fry's death took only fifteen seconds, yet the pain was so intense, that it felt to him like fifteen years. And it goes without saying, it caused him to empty his bowels. I just told you! You've killed me! Perhaps, but perhaps your civilization is merely the sewer of an even greater society above you!


