%h1 Listing pitches

- unless pitches.any?
  .panel
    No pitches yet, check back in a few days.
- else
  %table
    %tr
      %th Agent
      %th Min
      %th Max
      %th Expertise
      %th Status
      %th
  
    - pitches.each do |pitch|
      %tr
        %td 
          =pitch.agent.agent_detail.name
          -unless pitch.seen?
            %strong NEW!
        %td= pitch.min
        %td= pitch.max
        %td= pitch.expertise
        %td= pitch.status
        %td 
          =link_to 'Show', [pitch.holiday, pitch], :class => "tiny round secondary button"
