!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title=content_for?(:title) ? yield(:title) : "Ducking Ninja" 
    =stylesheet_link_tag "application"
    =javascript_include_tag "vendor/modernizr"
    =yield :top_page_js
    =csrf_meta_tags
  %body
    =render "layouts/shared/topbar"
    %hr
    =yield :hero
    .row
      .large-12.columns
        =render "layouts/shared/flash_messages"
        =yield

    =render "layouts/shared/footer"

    =javascript_include_tag "application"
    =yield :page_js
